In [26]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import csv,sklearn

from subprocess import check_output

In [30]:
data = pd.read_csv('diabetes2.csv',encoding='latin1')
data = data.drop(['Outcome', 'Pregnancies', 'SkinThickness','BMI','DiabetesPedigreeFunction'], axis=1)
data = data[data['Glucose'] != 0]
data = data[data['Insulin'] != 0]
data = data[data['BloodPressure'] != 0]
data = data[data['Age'] != 0]

In [31]:
#Create Train data for training the Polynomial Regression

#delete zero row entries (using this to avoid )
train = data[['Glucose','Insulin']]
train.reset_index(drop=True, inplace=True)
train.head()
train.head()

   Glucose  Insulin
0       89       94
1      137      168
2       78       88
3      197      543
4      189      846

In [11]:
len(train.index)

393

In [32]:
#Create Test Data for predictiong missing values  
data = pd.read_csv('diabetes2.csv',encoding='latin1')
#Keep zero row entries (using this to avoid )
data = data.drop(['Outcome', 'Pregnancies', 'SkinThickness','BMI','DiabetesPedigreeFunction'], axis=1)
data = data[data['Glucose'] != 0]
data = data[data['Insulin'] == 0]
data = data[data['BloodPressure'] != 0]
data = data[data['Age'] != 0]

pred = data[['Glucose','Insulin']]
pred.reset_index(drop=True, inplace=True)
pred.head()

   Glucose  Insulin
0      148        0
1       85        0
2      183        0
3      116        0
4      125        0

In [33]:
len(pred.index)

335

In [34]:
pred.isin([0]).sum()

Glucose      0
Insulin    335
dtype: int64

In [35]:
#save train data
train.to_csv('poly-Nonzero.csv',index=False, header=True)

#save pred data
pred.to_csv('poly-pred.csv',index=False, header=True)