MIT License

Copyright (c) 2021 Chollette Olisah

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Read nonzero of selected feature data
df_S = pd.read_csv('select_features_nonzero.csv')

In [3]:
#Retain Zero Insulin dat
df_D = pd.read_csv('diabetes2.csv',encoding='latin1')
df_D = df_D.drop(['Outcome', 'Pregnancies', 'SkinThickness','BMI','DiabetesPedigreeFunction'], axis=1)
df_D = df_D[df_D['Glucose'] != 0]
df_D = df_D[df_D['Insulin'] == 0]
df_D = df_D[df_D['BloodPressure'] != 0]
df_D = df_D[df_D['Age'] != 0]
df_D.reset_index(drop=True, inplace=True)
len(df_D.index)

335

In [11]:

df_P = pd.read_csv('pred-insulin-7.csv')
len(df_P.index)

335

In [5]:
# Replace column Insulin with predicted
df_D['Insulin'] = df_P['Insulin']

In [6]:
df_D

     Glucose  BloodPressure  Insulin  Age  Output
0        148             72      219   50       2
1         85             66       72   31       0
2        183             64      335   32       2
3        116             74      134   30       1
4        125             96      156   54       1
..       ...            ...      ...  ...     ...
330      170             74      289   43       2
331       89             62       79   33       0
332      122             70      149   27       1
333      126             60      159   47       2
334       93             70       87   23       0

[335 rows x 5 columns]

In [7]:
#concatenate predicted insulin values with diabetestest2 data (which is only Glucose and Output)
merge = pd.concat([df_S, df_D])
merge.head()

   Glucose  BloodPressure  Insulin  Age  Output
0       89             66       94   21       0
1      137             40      168   33       2
2       78             50       88   26       0
3      197             70      543   53       2
4      189             60      846   59       2

In [8]:
len(merge.index)

727

In [9]:
merge.isin([0]).sum()

Glucose            0
BloodPressure      0
Insulin            0
Age                0
Output           170
dtype: int64

In [10]:
#save final merged data
#convert DataFrame to csv file. NB: index is automatically generated by Pandas while converting to CSV file. So, use index=False to stop it
merge.to_csv('diabetesmerge.csv', index=False)